{% extends 'admin/admin/base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
<h1>User index</h1>
<div class="x_content">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Full Name</th>
                <th>Status</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.status ? 'Active' : 'Banned' }}</td>
                <td>
                    {% include('admin/user/_delete_form.html.twig') %}
                </td>
                <td>
                    <a class="btn btn-outline-secondary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('user_show', {'id': user.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('user_new') }}">Create new</a>
</div>
{% endblock %}
