{% extends 'admin/admin/base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
    <h1>Edit {{ post.title }}</h1>
    <hr>
    <div class="x_content">
    {{ include('admin/post/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('post_index') }}">back to list</a>

    {{ include('admin/post/_delete_form.html.twig') }}
    </div>
{% endblock %}
