{% extends 'admin/admin/base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
    <script>
        function openWindow(url)
        {
            window.open(url, "name", "width=750,height=500");
        }
    </script>
    <h1>Posts</h1>
    <hr>
    <div class="x_content">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Category</th>
                <th>Status</th>
                <th>Image</th>
{#                <th>Gallery</th>#}
                <th>Created At</th>
                <th>Delete</th>
                <th>Edit</th>
                <th>Show</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.category.title }}</td>
                <td>{{ post.status ? 'Yes' : 'No' }}</td>
                <td>
                    {% if not post.img %}
                        <img src="{{ asset('assets/admin/production/images/upload_img.png') }}" alt="" onclick="openWindow('{{ path('image_new_post', {'id':post.id}) }}')" height="30px">
                    {% else %}
                        <img src="{{ asset('uploads/images/') ~ post.img.image }}" alt="" height="30px" onclick="openWindow('{{ path('image_new_post', {'id':post.id}) }}')">
                    {% endif %}
                </td>
{#                <td>#}
{#                    <img src="{{ asset('assets/admin/production/images/gallery.jpg') }}" alt="" height="30px" onclick="openWindow('{{ path('image_new_post', {'id':post.id}) }}')">#}
{#                </td>#}
                <td>{{ post.createdAt ? post.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    {{include('admin/post/_delete_form.html.twig')}}
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-secondary" href="{{ path('post_edit', {'id': post.id}) }}">edit</a>
                </td>
                <td>
                    <a class="btn btn-sm btn-outline-primary" href="{{ path('post_show', {'id': post.id}) }}">show</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('post_new') }}">Create new</a>
    </div>
{% endblock %}
