{% extends 'admin/admin/base.html.twig' %}
{% block title %} {{ title }}{% endblock %}
{% block body %}
<h1>{{ category.title }}</h1>
<hr>
<div class="x_content">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ category.title }}</td>
            </tr>
            <tr>
                <th>Keywords</th>
                <td>{{ category.keywords }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category.image }}</td>
            </tr>
            <tr>
                <th>Created_at</th>
                <td>{{ category.createdAt ? category.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated_at</th>
                <td>{{ category.updatedAt ? category.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ category.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('category_index') }}">back to list</a>

    <a class="btn btn-primary" href="{{ path('category_edit', {'id': category.id}) }}">edit</a>

    {{ include('admin/category/_delete_form.html.twig') }}
</div>
{% endblock %}
